* {
  margin: 0;
  padding: 0;
}


#navbar {

 display: block;
background-color: white;
width: 100%;
padding: 10px;
border-bottom: 3px solid black;
overflow: hidden;


}
ul {
  list-style: none;
  background-color: black;
}

li {
   float: right;
}
li a {
  text-decoration: none;
  padding: 40px;
  color: black;
  text-align: center;
}
li a:hover {
  background-color: #f9ffe5;
}
.main
  {
   width: 100%;
   background-image: url("ramos1.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
