* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}


#navbar {

 display: block;
background-color: white;
width: 100%;
padding-top: 20px;
padding-bottom: 20px;
margin: 5px;
border-bottom: 3px solid black;
overflow: hidden;


}
ul {
  list-style: none;
  background-color: black;
}

li {
   float: right;
}
li a {
  text-decoration: none;
  padding: 40px;
  color: black;
  text-align: center;
}
li a:hover {
  background-color: #f9ffe5;
}
body
  {
   width: auto;

 }
h1  {
  color: white;
  position: absolute;
  left: 41%;
  font-size: 47px;

}
.column {
  float: left;
  width: 50%;
  text-align: center;
  background-color: gold;
  height: 150px;
  

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
